.blackfriday22-hero{
  height: 500px;
  position: relative;
  &:after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 164px;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    transform: matrix(1, 0, 0, -1, 0, 0);
  }
  &__body{
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
  }
  &__logo{
    background: linear-gradient(180deg, rgba(69, 69, 69, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    width: 572px;
    margin: 0;
    padding: 46px 39px;
  }
  &__photo{
    margin: 0;
    position: absolute;
    top: 0;
    left: 513px;
    z-index: 1;
    img{
      max-width: none;
    }
  }
}