.blackfriday22-category{
  display: flex;
  justify-content: center;
  &__body{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__item{
    text-decoration: none!important;
    &:hover{
      cursor: pointer;
      .blackfriday22-category__figure{
        background: linear-gradient(83.9deg, #FDB913 22.22%, #FF7A00 71.71%);
      }
      .blackfriday22-category__name{
        color: #FDB913!important;
      }
    }
    &.active{
      .blackfriday22-category__figure{
        background: linear-gradient(83.9deg, #FDB913 22.22%, #FF7A00 71.71%);
      }
      .blackfriday22-category__name{
        color: #FDB913;
      }
    }
  }
  &__figure{
    border-radius: 50%;
    overflow: hidden;
    background-color: #F6F4F3;
    border: 5px solid #0D0D0D;
    margin: 0 0 4px;
    padding: 10px 7px;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  &__name{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 166.4%;
    color: #F6F4F3;
  }
}