.blackfriday22-category{
  display: flex;
  justify-content: center;
  &__body{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__item{
    text-decoration: none!important;
    transition: all .3s ease;
    &:hover{
      cursor: pointer;
      transition: all .3s ease;
      .blackfriday22-category__figure{
        background-image: linear-gradient(83.9deg, #FDB913 22.22%, #FF7A00 71.71%);
        transition: all .3s ease;
      }
      .blackfriday22-category__name{
        color: #FDB913!important;
        transition: all .3s ease;
      }
    }
    &.active{
      transition: all .3s ease;
      .blackfriday22-category__figure{
        background-image: linear-gradient(83.9deg, #FDB913 22.22%, #FF7A00 71.71%);
        transition: all .3s ease;
      }
      .blackfriday22-category__name{
        transition: all .3s ease;
        color: #FDB913;
      }
    }
  }
  &__figure{
    border-radius: 50%;
    overflow: hidden;
    background-color: #F6F4F3;
    border: 5px solid #0D0D0D;
    margin: 0 0 4px;
    padding: 10px 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
    &--revers{
      background-color: #000000;
      border: 5px solid #F6F4F3;
    }
  }
  &__name{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 166.4%;
    color: #F6F4F3;
    transition: all .3s ease;
  }
  @include r(767){
    &__body{
      flex-wrap: wrap;
      gap: 4px 20px;
      justify-content: center;
    }
  }
}