.blackfriday22-hero{
  height: 500px;
  &__body{
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
  }
  &__logo{
    background: linear-gradient(180deg, rgba(69, 69, 69, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    width: 572px;
    margin: 0;
    padding: 46px 39px;
  }
  &__photo{
    margin: 0;
    position: absolute;
    top: 0;
    right: -130px;
  }
}