.blackfriday22-block{
  margin-bottom: 185px;
  &__body{
    text-align: center;
  }
  &__bg{
    background-color: #000000;
    &.light{
      background-color: #F6F4F3;
    }
  }
  &__figure{
    position: relative;
    width: fit-content;
    margin: 0 auto;
    img{
      display: block;
      margin: 0 auto;
    }
  }
  &__label{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    &--block1{
      .label-1{
        position: absolute;
        top: 185px;
        left: 86px;
      }
      .label-2{
        position: absolute;
        bottom: 125px;
        left: 74px;
      }
      .label-3{
        position: absolute;
        top: 167px;
        right: 189px;
      }
      .label-4{
        position: absolute;
        bottom: 92px;
        right: 49px;
      }
      .label-5 {
        position: absolute;
        left: 39.5%;
        top: 309px;
      }
    }
    &--block2{
      .label-1{
        position: absolute;
        top: 78px;
        left: 137px;
      }
      .label-2{
        position: absolute;
        bottom: 231px;
        left: 281px;
      }
      .label-3{
        position: absolute;
        top: 198px;
        left: 419px;
      }
      .label-4{
        position: absolute;
        bottom: 116px;
        left: 27px;
      }
      .label-5 {
        position: absolute;
        right: -53px;
        top: 279px;
      }
      .label-6 {
        position: absolute;
        right: -53px;
        bottom: 141px;
      }
    }
    &--block3{
      .label-1{
        position: absolute;
        left: 56px;
        top: 311px;
      }
      .label-2{
        position: absolute;
        top: 194px;
        left: 475px;
      }
      .label-3{
        position: absolute;
        bottom: 99px;
        right: 295px;
      }
      .label-4{
        position: absolute;
        top: 311px;
        left: 370px;
      }
      .label-5 {
        position: absolute;
        top: 178px;
        right: 85px;
      }
    }
  }
  &__btn{
    display: block;
    width: 100%;
    max-width: 179px;
    margin: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 0;
    border-radius: 12px;
    padding: 11px;
    cursor: pointer;
    transition: all .3s ease;
    text-decoration: none;
    font-family: $font1;
    font-weight: 700;
    font-size: 15px;
    line-height: 166.4%;
    color: #000000;
    background: linear-gradient(91.81deg, #FDB913 1.5%, #FDAC0F 98.44%);
    opacity: .5;
    &:hover{
      opacity: 1;
      transition: all .3s ease;
    }
    &:before{
      content: '';
      position: absolute;
      top: -23px;
      background-color: #FDB913;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      overflow: hidden;
    }
    &.bottom-left:before{
      top: auto;
      bottom: -18px;
      left: -12px;
    }
    &.bottom-right:before{
      top: auto;
      bottom: -18px;
      right: -12px;
    }
    &.bottom-center:before{
      top: auto;
      bottom: -23px;
      left: 50%;
      transform: translate(-50%,0);
    }
    &.top-left:before{
      top: -18px;
      left: -12px;
    }
    &.top-right:before{
      top: -18px;
      right: -12px;
    }
    &.top-center:before{
      top: -18px;
      left: 50%;
      transform: translate(-50%,0);
    }
    &.left-center:before{
      top: 50%;
      left: -18px;
      transform: translate(0,-50%);
    }
    &.right-center:before{
      top: 50%;
      right: -18px;
      transform: translate(0,-50%);
    }

  }
  &__category{
    margin-top: -72px;
    position: relative;
  }
}