@import "mixin";
@import "fonts";

* {
	box-sizing: border-box;
}

.header-search.only-mobile{
	position: relative;
	margin: 0 -15px;
	padding: 0 15px;
	background-color: #ffffff;
}
.main{
	padding-top: 0;
	overflow: hidden;
}
.main>.container{
	max-width:100%;
	padding: 0;
}

.wrp {
	position: relative;
	font-family: $font1;
	color: #ffffff;
	overflow: hidden;
	background-color: #000000;
}

.container {
	max-width: 1150px;
	margin-left: auto;
	margin-right: auto;
	padding-right: 20px;
	padding-left: 20px;
}

.d-none {
	display: none !important;
}

.d-flex {
	display: flex;
}

.d-block {
	display: block;
}

.d-desktop-none {
	display: none;
	@include r(767) {
		display: block;
	}
}

.d-mobile-none {
	display: block;
	@include r(767) {
		display: none !important;
	}
}

.img-fluid {
	max-width: 100%;
	height: auto;
}

.main{

}

.blackfriday22-btn{
	display: block;
	width: 100%;
	max-width: 411px;
	margin: 0;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	user-select: none;
	border: 0;
	border-radius: 0;
	padding: 9px 70px;
	cursor: pointer;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	text-decoration: none;
	font-family: $font1;
	font-weight: 700;
	font-size: 24px;
	line-height: 166.4%;
	color: #000000;
	background: linear-gradient(91.81deg, #FDB913 1.5%, #FDAC0F 98.44%);
}


.remodal{
	max-width: 734px;
	background-color: #0D0D0D;
	text-align: left;
	padding: 82px 46px 28px;
	border: 5px solid #F6F4F3;
}
.remodal-close{
	top: 13px;
	right: 13px;
	left: auto;
	width: 33px;
	height: 33px;
}
.remodal-close:before{
	content: '';
	background-image: url("../img/remodal-close.svg");
	background-size: 100%;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}
.remodal p{
	font-family: $font1;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: #F6F4F3;
	margin: 0 0 24px;
	span{
		color: #FDB913;
	}
	&.small{
		font-size: 11px;
		line-height: 12px;
		margin-top: -27px;
	}
}


@include r(767){
	.wrp {
		padding-bottom: 108px;
	}
	.blackfriday22-btn{
		padding: 15px 10px;
		font-size: 16px;
		line-height: 166.4%;
	}
	.remodal{
		max-width: 367px;
		padding: 95px 18px 28px;
	}
	.remodal-close{
		top: 32px;
		right: 20px;
		width: 26px;
		height: 26px;
	}
	.remodal p{
		font-size: 14px;
		line-height: 17px;
		margin: 0 0 24px;
		&.small{
			font-size: 11px;
			line-height: 12px;
			margin-top: -27px;
		}
	}
}
@import "componets/blackfriday22-hero";
@import "componets/blackfriday22-content";
@import "componets/blackfriday22-quotes";
@import "componets/blackfriday22-all";
@import "componets/blackfriday22-category";
@import "componets/blackfriday22-block";




